@page "{argsearch?}/{argvalue?}/{playlist?}"
@model WebApp.Pages.BulkProcessModel
@{
}
<h1>OLTP Bulk Processing</h1>
<p> Search by @Model.argsearch on the value @Model.argvalue
      <a href="/BulkProcessQuery"> return to search ...</a></p>
