/*footer {
    margin: 1em auto 0 auto;
    padding: 1.25em 1em;
    background-color: var(--bg-pane);
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

main {
    max-width: initial;
}*/
/*Adaptations from awsm.css*/
/*fieldset {
    padding: .5em 1em;
    border: 1px solid #aaa;
}

form label:not(:first-child) {
    margin-top: 1em;
}

form label, form select, form input, output {
    display: block;
}

    form input[type=checkbox] {
        display: inline-block;
    }*/

.field-validation-error {
    color: firebrick;
    font-weight: bolder;
}

/*header,main,footer,nav {
    background-color:#c0c0c0;
}*/

/*main > form {
    display:flex;
}

form > section {
    width:50%;
    margin: 10px;
}*/

